.pytest_cache/
*.pyc

.env
.venv
venv/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

.aws-sam

**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars